.app-logo {
  max-height: 3vh;
  top: 0.2rem;
  position: relative;
}

.app-order-now-button {
  background-color: #E94C9A!important;
  color: #FFF!important;
  border-radius: 2em!important;
  margin-left: 2em !important;
}

.app-list {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}