.app-logo {
  max-height: 3vh;
  top: 0.2rem;
  position: relative;
}

.app-order-now-button {
  background-color: #E94C9A!important;
  color: #FFF!important;
  border-radius: 2em!important;
  margin-left: 2em !important;
}

.app-list {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #e94c9a;
  border: 2px solid #e6e6e6;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e94c9a #e6e6e6;
}

img {
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}