.commentorName {
    color: #7BC3CA;
    font-weight: 600!important;
}

.commentContent {
    line-height: 1.4 !important;
    font-size: 0.8em !important;
}

.commentorImage {
    margin: 1em;
    border: 4px solid #E94C9A;
    padding: 4px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    width: unset!important;
}